.login-container {
    display: flex;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px; /* 로그인 버튼과의 간격 */
  }
  
  .login-input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  
  .login-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }